MYSQL_ADDON_HOST=tu-host.services.clever-cloud.com
MYSQL_ADDON_DB=nombre_de_la_base
MYSQL_ADDON_USER=usuario
MYSQL_ADDON_PORT=3306
MYSQL_ADDON_PASSWORD=contraseña

JWT_SECRET=un-secreto-largo-y-aleatorio
PORT=4000
CORS_ORIGIN=http://localhost:5173
